.reon-timezone-payment {
    width: 100%;
    height: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.reon-timezone-payment__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;
}

.reon-timezone-payment__forward {
    padding: 10px;
    border: 1px solid #dedee0;
    color: #737373;
    font-size: 14px;
    margin-bottom: 5px;
    border-radius: 4px;
    display: block;
    text-align: justify;
}
